:root {
  --background-rgb: 2 6 23;
  --background-light-rgb: 30 41 59;

  --border-rgb: 255 255 255;
  --border: 1px solid rgb(var(--border-rgb) / 20%);

  --main-rgb: 41 121 255;
  --main-light-rgb: 56 182 255;
  --secondary-rgb: 42 252 152;

  --card-size: 712px;
  --font-size: 0.8rem;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  background: rgb(var(--background-rgb));
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: transform 1s ease-out;
  transform: scale(1);
}

body.whenLoaded {
  transform: scale(1.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 4;

  h1 {
    color: #ff7ddb;
    text-shadow:
      rgba(255, 255, 255, 0) 0px 0px 10px,
      rgba(255, 255, 255, 0.5) 0px 0px 20px,
      rgba(224, 0, 230, 0.35) 0px 0px 30px,
      rgba(0, 230, 178, 0) 0px 0px 40px,
      rgba(0, 230, 189, 0.24) 0px 0px 50px,
      rgba(178, 0, 230, 0.16) 0px 0px 60px,
      rgba(167, 0, 230, 0.34) 0px 0px 70px;
    animation-name: blink;
    animation-iteration-count: infinite;
  }

  a {
    text-decoration: none;
    color: #ff7ddb;
    text-shadow:
      rgba(255, 255, 255, 0) 0px 0px 10px,
      rgba(255, 255, 255, 0.5) 0px 0px 20px,
      rgba(224, 0, 230, 0.35) 0px 0px 30px,
      rgba(0, 230, 178, 0) 0px 0px 40px,
      rgba(0, 230, 189, 0.24) 0px 0px 50px,
      rgba(178, 0, 230, 0.16) 0px 0px 60px,
      rgba(167, 0, 230, 0.34) 0px 0px 70px;
    animation-name: blink;
    animation-iteration-count: infinite;

    font-size: 18Q;
  }

  .blinker {
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .blinker:hover,
  .blinker:focus {
    animation: none;
    transform: scale(1.2);
  }
}
